.flash-card {
    position: relative;
    min-height: 20px;
    padding: 0;
    margin: 0;
}
.flashed-messages {
    position: absolute;
    padding: 10px;
    list-style: none;
    max-width: fit-content;
}

.qa-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
}

.user-message, .assistant-message {
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
}

.img-container {
    overflow: hidden; /* Ensures the zoomed-in image stays within boundaries */
}

.zoom-on-hover {
    transition: transform 0.3s; /* Smooth transition */
}

.zoom-on-hover:hover {
    transform: scale(1.2); /* Zoom in by 20% */
}