{% extends 'base_template.html' %}

{% block title %}
Learn Flow - Dive Deep Into Learning
{% endblock %}

{% block content %}
<div class="about-page"><p class="about bold">Development Team</p></div>

<div>
    <div class="members">
        <div class="card">
            <p class="card-title">Izhar Ali</p>
            <p class="card-subtitle">Scrum Master & Developer</p>
            <p class="card-body">Izhar is a CS and Math major at Rowan University. His interests include
            Machine Learning, Deep Learning, Data Mining, Natural Language Processing, and Numerical Optimization.</p>
        </div>
    </div>

</div>

{% endblock %}