{% extends 'base_template.html' %}

{% block title %}
Learn Flow - Dive Deep Into Learning
{% endblock %}

{% block content %}
<div class="about-page"><p class="about bold">Development Team</p></div>

<div>
    <div class="members">
        <div class="card">
            <p class="card-title">Izhar Ali</p>
            <p class="card-subtitle">Scrum Master & Developer</p>
            <p class="card-body">Izhar is a CS and Math major at Rowan University. His interests include
            Machine Learning, Deep Learning, Data Mining, Natural Language Processing, and Numerical Optimization.</p>
        </div>
        <div class="card">
            <p class="card-title">Meghana Reddy Nalla</p>
            <p class="card-subtitle">Product Owner</p>
            <p class="card-body">Meghana is a grad CS student at Rowan University. Her interests include
                Programming Languages, Coding challenges, Web Development, Natural Language Processing. </p>
        </div>
        <div class="card">
            <p class="card-title">Sean Pandolfo</p>
            <p class="card-subtitle">Developer</p>
            <p class="card-body">Sean is a CS major at Rowan University. His interests include ...</p>
        </div>
        <div class="card">
            <p class="card-title">Prajwal Bhattarai</p>
            <p class="card-subtitle">Developer</p>
            <p class="card-body">Prajwal is a CS major at Rowan University. His interests include ...</p>
        </div>
        <div class="card">
            <p class="card-title">Tyler Casas</p>
            <p class="card-subtitle">Developer</p>
            <p class="card-body">Tyler is a CS and Math major at Rowan University. His interests include ...</p>
        </div>
        <div class="card">
            <p class="card-title">Lakshmi Sravani Badam</p>
            <p class="card-subtitle">Developer</p>
            <p class="card-body">Lakshmi is a CS grad student at Rowan University. Her interests include ...</p>
        </div>
        <div class="card">
            <p class="card-title">Urja Jindal</p>
            <p class="card-subtitle">Developer</p>
            <p class="card-body">Urja is a CS grad student at Rowan University. Her interests include ...</p>
        </div>
    </div>

</div>

{% endblock %}