{% extends 'base.html' %}

{% block title %}Favorites{% endblock %}

{% block content %}

<div class="container py-4 py-xl-5">
    <div class="row gy-4 gy-md-0">
        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
            <div style="max-width: 350px;">
                <h2 class="text-uppercase fw-bold">Favorites</h2>
                <p class="my-3">We've saved your favorite courses for you to view later.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="{{ url_for('static', filename='img/favs.svg') }}"></div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if not courses %}
                    <tr>
                        <td></td>
                        <td colspan="2">No courses saved.</td>
                    </tr>
                {% endif %}

                {% for course in courses %}
                    <tr>
                        <td><a href="{{ course.course_url }}" target="_blank">{{ course.course_name }}</a></td>
                        <td><a href="{{ url_for('user.remove', course_name=course.course_name) }}" class="btn btn-danger btn-sm">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- remove all favorites -->
    <div class="input-group mb-3">
        <a href="{{ url_for('user.remove_all') }}" class="btn btn-danger">Remove All</a>
    </div>

</div>

{% endblock %}