{% extends 'base_template.html' %}

{% block title %}
Learn Flow - Dive Deep Into Learning
{% endblock %}

{% block content %}
<div class="login-form">
    <h2>Login to your Account</h2>
    <div class="login-form-text">
        <form class="form" method="POST">
            <div class="input-box">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-box">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" id="password1" name="password1" required>
                <label for="password1">Password</label>
            </div>
                <div class="remember-me" id="remember-me">
                    <label for="remember-me"><input type="checkbox">Remember Me</label>
                </div>
            <button type="submit" class="btn btn1" id="submit-btn" onclick="this.classList.toggle('button--loading')">
                <span class="button__text">Log in</span>
            </button>
            <div class="register">
                <p>Don't have an account?&nbsp;<a href="signup">Register</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}


