{% extends 'base.html' %}

{% block title %}Lab Search{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 450px;">
                    <p class="fw-bold text-success mb-2"><strong>Semantic Search</strong></p>
                    <h2 class="text-uppercase fw-bold" style="text-align: left;"><strong>Search the web for courses</strong></h2>
                    <p class="my-3" style="text-align: justify;">Search for courses using <strong>semantic search</strong> engine - we use <strong>OpenAI's Embedding Model</strong> to understand the meaning of your query and return the most relevant results.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="{{ url_for('lab.search') }}" method="post">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search for courses" aria-label="Search for courses" aria-describedby="button-addon2" name="query">
                        <button class="btn btn-success" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>          
        </div>
    </div>       
</section>
{% endblock %}